body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    font-family: sans-serif;
}
h4 {
    margin-top: 1.5rem;
}
h3:not(:first-child) {
    margin-top: 1.75rem;
    padding-top: 1.75rem;
    border-top: 1px solid lightblue;
}

code-element {
    margin-top: 1rem;
    font-size: 13px;
}
code-element:last-of-type {
    height: 15rem;
}

#theme-list {
    display: flex;
    gap: 2rem;
    color: darkcyan;
}
#theme-list * {
    cursor: pointer;
}
#theme-list a {
    color: inherit;
    text-decoration: none;
}
#theme-list span {
    opacity: 0.5;
}
#wrapper {
    position: relative;
    padding: 2.5rem;
    width: 40vw;
    background-color: lightcyan;
}
#chain-out {
    margin-top: 0.75rem;
    padding: 1rem;
    background-color: #483D8B80;
    color: white;
    border-radius: 4px;
    font-family: monospace;
}
#chain-out::before {
    content: ">: ";
    display: inline-block;
}