:host {
    --line-spacing: 0.75em;

    --color-bg: #F9F9F9;
    --color-bg--selection: var(--color-accent);
    --color-bg--translucent: #F9F9F9A0;
    --color-fg: #3C3C3C;
    --color-fg--selection: var(--color-bg);
    --color-fg--line-number: #A4A4A4;

    --color-accent: #6F8CFF;
}
@media (prefers-color-scheme: dark) {
    :host {
        --color-bg: #2D2D2D;
        --color-bg--translucent: #2D2D2DA0;
        --color-fg: #FFFFFF;
        --color-fg--line-number: #5B5B5B;

        --color-accent: #94AAFF;
    }
}

:host {
    border-radius: 0.375em;
}

.line-number {
    background-color: var(--color-bg);
    font-size: 0.925em;
    filter: brightness(0.95);
}
.line-number::before { 
    content: "";
    display: block;
    height: calc(0.125 * var(--line-spacing));
}
@media (prefers-color-scheme: dark) {
    .line-number {
        filter: brightness(1.5);
    }
}

.copy {
    background: var(--color-bg--translucent);
    text-transform: uppercase;
    border: none;
    outline: none;
    filter: opacity(0.0);
    transition: filter 200ms;
    backdrop-filter: blur(2px);
}
:host(:hover) .copy {
    filter: opacity(1.0);
}
.copy.active {
    color: var(--color-fg--line-number);
}