:host {
    background-color: #FFF;
    color: #111;
}
:host([editable]) .copy {
    background-color: #FFFFFF;
}
.copy {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 0.25em;
    padding: 0.5em;
    background-color: inherit;
    user-select: none;
}
.highlighted {
    background-color: #FFFFDA;
}