/* DYNAMIC */

:host([copyable]) .copy {
    display: block;
}
.edit {
    overflow: scroll;
}
.edit-in, .edit-out {
    white-space: nowrap !important;
}

/* STATIC */

/* UNMUTABLE */

:host([hidden]) {
    display: none !important;
}
:host([editable]:not([type-live])) .edit-in {
    display: block !important;
}
:host([copyable]) .copy {
    display: block !important;
}
.copy {
    display: none !important;
}

/* MUTABLE */

:host {
    --line-height: 1.75em;
    font-family: monospace;
    font-size: 1em;
}
:host {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}
:host([editable]:not([type-live])) .edit {
    cursor: text;
}
:host([editable]:not([type-live])) .edit-out {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.edit {
    position: relative;
    flex: 1 0 0;
}
.lines, .edit-in, .edit-out {
    padding: 0.65em 0.85em;
    box-sizing: border-box;
}
.lines, .edit-in, .edit-in > div, .edit-out > div {
    line-height: var(--line-height);
}
.edit {
    scroll-padding-right: 0.85rem; 
}
.lines {
    text-align: right;
    user-select: none;
}
.edit-in > div, .edit-out > div {
    height: auto;
    min-height: var(--line-height);
}
.edit-in {
    display: none;
    min-height: fit-content;
    color: transparent;
    caret-color: slategray;
}
.edit-in:focus {
    outline: none;
}
.edit-out {
    position: relative;
    display: block;
    width: fit-content;
    min-width: 100%;
}